@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page {
  height: calc(100vh - 54px);
}

.background {
  background: rgb(15, 23, 42);
  background: linear-gradient(
    90deg,
    rgba(15, 23, 42, 1) 55%,
    rgba(35, 42, 71, 1) 96%
  );
}
.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}